/* ==Inicio del Reseteo de formato== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%; /*Con esto ahora 10px=1rem*/
    font-family: "Calibri", "Times New Roman", Times, sans-serif;
}

img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    /* (Opcional) */ object-fit: cover;        
    /* (Opcional) */ object-position: center center;
  }

  /* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
  }
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }

  h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
  }

  /* Nivelamos problemas de tipografías y colocación de formularios */
form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color:inherit;
    display: block;
    appearance: none;
}

body {
    min-height  : 100vh;
    font-size   : 100%;
    font-family : var(--tipo-principal);
    color       : var(--negro);
}

/* ==Fin del Reseteo de formato== */
/* ==Declaro posibles variables para CSS== */
:root{

  /* ==Colores personalizados== */
  --body-color-primary: cornsilk;
  --body-color-secundary: #dcc7f7;
  --negro: rgb(0, 0, 0);
  --blanco: rgb(250,250,250);
  --pastel-color: #928dd8;

  --pastel-color-opacity: rgb(146, 141, 216, 0.75);

  /* ==font personalizados== */
  --tipo-principal: 20px;
  --tipo-secundario: 16px;
  --tipo-h1: 25px;
  --tipo-navGrande: 30px;
  --tipo-imagen-carrito: 48px;
  --tipo-imagen-carrito-media: 80%;
}
/* ==Fin Declaro posibles variables para CSS== */


body{
  background-color:var(--blanco);
  font-size: var(--tipo-secundario)
}

.extranav{
  background: linear-gradient(var(--pastel-color), var(--blanco));
  color: var(--blanco); 
  font-size: var(--tipo-navGrande);

    form{
      max-width: 500px;

      button{
        font-size: var(--tipo-principal);
        /* background-color: var(--body-color-primary); */
        width: 150px;
      }
  }

  li a{
    transition: 0.5s;
    padding: 10px 5px;

    &:hover{
      background-color: var(--blanco);
      color: var(--negro);
      border-radius: 10px;
    }
  }
}

.iconPag{
  padding: 10px;
  width: 100px;
  height: 100px;
  transition: 1s;

  &:hover{
    transform: rotate(360deg);
  }
}

.ajustarImagenCarrito{
  width: var(--tipo-imagen-carrito);
  height: var(--tipo-imagen-carrito);
}


h1{
  display: flex;
  font-size: var(--tipo-h1);
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.tituloPrincipal{
  font-size: 40px;
  text-decoration:underline;
}

.haciaArriba{
  text-decoration:underline;
}

.ajustesHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reglas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;

  ul{
    margin: 5px;
    border: 2px solid var(--negro);
  }
  li{
    list-style-type:decimal;
  }

}

footer{
  padding: 15px;
  text-align: center;
  justify-content: center;
  background: linear-gradient( var(--blanco), var(--pastel-color));
}

.opcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  select{
    border: 2px solid var(--negro);
  }
}

.conteiner{
  /* background-image: url(../assets/images/fondo-inicio.webp); */
  background: linear-gradient(145deg,var(--pastel-color-opacity), var(--blanco)), url(../assets/images/fondo-inicio.webp);

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  overflow: hidden;
  padding-top: 10px;
}

@media (max-width: 760px) {
  .extranav a{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 5px;
  }

  .tituloPrincipal{
    font-size: 17px;
  }

}